

.Contact {
  max-width: 700px;
  padding: 15px;
  border-radius: 3%;
  background-color: white;
}

.LoaderButton {
  color: white;
  background-color: #02b3e4;
  
  margin: auto;
}

.btn-lg {
    padding: 5px 10px;
    font-size: 16px;
}

.sub-body-contact{

  min-height:-webkit-fill-available;
  margin-top: 5%;
  margin-bottom: 18%;
}
@media screen and (min-width:530px) {
  .Contact {
    margin-left: auto;
    margin-right: auto;
  }

  .Contact form {
    max-width: 500px;
    margin: auto;
  }
}
