.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}

.CreateEvent {
  max-width: 70%;
  padding: 15px;
  border-radius: 3%;
  background-color: white;
  margin-top: 5%;
  margin-bottom: 18%;
  margin-left: auto;
  margin-right: auto;
}



.gridDesign {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media screen and (min-width:530px) {
  .CreateEvent {
    margin-left: auto;
    margin-right: auto;
    max-width: 45%;
    margin-top: 5%;
    margin-bottom: 18%;
   
  }
  .CreateEvent form {
    max-width: 500px;
    margin: auto;
  }
}
