/* CSS */
h5 {
  color: #ea526f;
  font-size: 16pt;
}

.body {
  width: 90%;
  margin: auto;
}

.events {
  background-color: #eef7fa;
}


.banner img {
  max-width: 100%;
  height: auto;
  min-width: initial;
  min-height: initial;
 }

 .bannerForHome img {
  max-width: 100%; 
 }

 
 .navbar-default {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 100;
 }
 
 .banner, .bannerForHome {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
 }
 
 .gradient-overlay {
 
  background-image: linear-gradient(to left, #ea526f , #02b3e4);
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
 }
 
 .bannerText{
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  z-index: 10;
 
 }

 .bannerTextForHome {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: baseline;
  z-index: 10;
 
 }
 
 .textContainer h1 {
   display: block;
   color: white;
 }

 .textContainerForHome h1 {
  display: block;
  color: white;
}
.textContainerForHome{
  width: 100%;
}
 
 .bannerImage,
 .bannerText,
 .bannerTextForHome {
  grid-column: 1;
  grid-row: 1;
 }

 

 
 .content .Events img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;


 }

 .event-description p:last-of-type {
   padding-bottom: 2rem;
 }

 .event-description p {
  margin-left: 1rem;
  margin-right: 1rem;
}


 .Events h5 {
   font-weight: bold;
 }

 .content h1 {
   grid-column: 1/ -1;

 }

 .Events {
  transition: all 0.5s ease;
}
.Events:hover {
  margin: 2%;
}


.Features img {
  max-width: 50%;
  align-self: center;
  height: auto;
  padding: 1rem;
  margin: auto;
}

.Features h1 {
  grid-column: 1/ -1;
  padding: 1rem;
}

.feature p {
  padding: 1rem;
}

.feature {
  background-color: #ffffff;
  box-shadow: 4px 2px 31px -8px #999;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  border-radius: 0.5rem;


}


.Mockups h1 {
  grid-column: 1/ -1;
}

.Mockups .mockup {
  display: grid;
  grid-template-columns: 1fr;
}

.Mockups .mockup img {
  max-width: 80%;
  height: auto;
  margin: auto;
}

.Video h1 {
  margin-top: 5rem;
  margin-bottom: 3rem;


}


.body{
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 4rem;
}

.Features {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  justify-content: center;
}


.Mockups {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-bottom: 5rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;

}




/* END */





.react-date-picker {
  height: 50px;
  flex-direction: row-reverse;
}






.body {
  padding-top: 0px;
  padding-bottom: 1%;
  background-color: #eef7fa;
}

.buttontype {
  color: white;
  background-color: #02b3e4;
  border-radius: 0.5rem;
  padding: 5px 10px;
  font-size: 16px;
}

.buttontype:hover {
    color: black;
    text-decoration: none;
}
.discover {
  margin:auto;
  grid-area: 2 / 2 / 3 / 3;
}

.Events {
  box-shadow: 4px 2px 31px -8px #999;
  margin-bottom: 5px;
  border-radius: 1rem;
  background-color: #ffffff;
  margin: 0rem;
  margin-left: -1rem;
  margin-right: -1rem;

  
}

.content h3 {
  grid-column: 1/-1;
}

.content a {
  text-decoration: none;
}

.mid-nav, .create-event {
  background-color: white;
  opacity: 1;
  width: 95%;
  border-radius: 1rem;
  margin: auto;
  color: black;
  margin-top: 5%;

}

.intro  {
  padding-top: 2rem;
}

.intro p {
  padding-top: 1rem;
  text-align: center;
  max-width: 85%;
  margin: auto;
  margin-bottom: 2rem;
}

.event-description h5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.event-description p {
  color: black;
  margin-bottom: 0px;
  margin-top: 5px;
}

.create-event{
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  background-image: linear-gradient(to bottom right, rgba(2,179,228, 0.2), rgba(234,82,111, 0.4))
}

.create-event p {
  font-size: 2rem;
  margin-bottom: 2rem;
}


.discoverNowButton{
  text-align: center;
}

.discoverNowButton a{
  margin: auto;
  padding: 1%;
  background-color: transparent;
  border: 1px solid white;
  padding-left: 4%;
  padding-right: 4%
}

.discoverNowButton a:hover{
  background-color: #02b3e4;
  color: white;
  border: none;
  
}

.react-date-picker{
  width: 100%;

}

.react-date-picker__wrapper{
  margin: auto;
  margin-top: 1%;
}





.web-video {
  max-width: 640px;
  margin: auto;
}

@media screen and (min-width: 770px) {

  .Events {
    margin: 1rem;
    margin-left: 0rem;
  margin-right: 0rem;
  }

  
  .intro {
    display: block;
    margin: 15px 0px;
  }

  
  .Features {
    grid-template-columns: 1fr 1fr 1fr;
  }


  .Mockups {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
  

  

}
