/* CSS */
h5 {
  color: #ea526f;
  font-size: 16pt;
}

.banner img {
  max-width: 100%;
  height: auto;
  min-width: initial;
  min-height: initial;

}

.imageContainer {
  background-image: linear-gradient(to left, #ea526f , #02b3e4) !important;

}

.navbar-default {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
 
 
 .bannerText {
  z-index: 10;
  position: abs;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .textContainer h1 {
   display: block;
   color: white;
 }

 .banner {
   position: relative;

 }

 .content .Events img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;


 }

 .event-description p:last-of-type {
   margin-bottom: 2rem;
 }


 .Events h5 {
   font-weight: bold;
 }

 .content h1 {
   grid-column: 1/ -1;

 }

 .Events {
  transition: all 0.5s ease;
}
.Events:hover {
  margin: 2%;
}

.Features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  justify-content: center;

  
}

.Features img {
  max-width: 50%;
  align-self: center;
  height: auto;
  padding: 1rem;
  margin: auto;
}

.Features h1 {
  grid-column: 1/ -1;
  padding: 1rem;
}

.feature p {
  padding: 1rem;
}

.feature {
  background-color: #ffffff;
  box-shadow: 4px 2px 31px -8px #999;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;


}

.Mockups {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 5rem;
}
.Mockups h1 {
  grid-column: 1/ -1;
}

.Mockups .mockup {
  display: grid;
  grid-template-columns: 1fr;
}

.Mockups .mockup img {
  max-width: 80%;
  height: auto;
  margin: auto;
}

.Video h1 {
  margin-top: 5rem;
  margin-bottom: 3rem;


}

/* END */





.react-date-picker {
  height: 50px;
  flex-direction: row-reverse;
}






.body {
  padding: 4%;
  min-height: 85vh;
  padding-top: 0px;
  padding-bottom: 1%;
  background-color: #eef7fa;
}

.buttontype {
  color: white;
  background-color: #02b3e4;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 16px;
}

.buttontype:hover {
    color: black;
    text-decoration: none;
}
.discover {
  margin:auto;
  grid-area: 2 / 2 / 3 / 3;
}

.Events {
  box-shadow: 4px 2px 31px -8px #999;
  margin-bottom: 5px;
  border-radius: 1rem;
  background-color: #ffffff;

  
}

.content h3 {
  grid-column: 1/-1;
}

.content a {
  text-decoration: none;
}

.mid-nav, .create-event {
  background-color: white;
  border: 1px solid #02b3e4;
}

.intro  {
  padding-top: 2rem;
}

.intro p {
  padding-top: 1rem;
  text-align: center;
  max-width: 75%;
  margin: auto;
  margin-bottom: 2rem;
}

.event-description h5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.event-description p {
  color: black;
  margin-bottom: 0px;
  margin-top: 5px;
}

.create-event{
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-image: linear-gradient(to bottom right, rgba(2,179,228, 0.2), rgba(234,82,111, 0.2))
}







.mid-nav {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(2,2fr);
  grid-gap:10px;
}

.web-video {
  max-width: 640px;
  margin: auto;
}

@media screen and (min-width: 770px) {

  .body{
    max-width: 1200px;
    margin: auto;
  }

  



  .intro {
    display: block;
    margin: 15px 0px;
  }

  .Events {
    grid-template-columns: 1fr;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.5rem;
  }

  .navbar-right {
    margin-top: 10px;
  }

}
