.Login {
  width: 100%;
  margin: auto;
}

.new-log {
  margin-top: 2%;
}

.new-log li {
  list-style-type: none;
  margin-top: 10px;
  text-align: center;
}



.gradient-login {
  
  background-image: linear-gradient(to left, #ea526f , #02b3e4);
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
 }

.new-log li a {
  text-decoration: none;
  color: white;
  background-color: #02b3e4;
  border-radius: 6px;
  padding: 4px 22px;
  font-size: 16px;
  max-width: 100px;
}

button {
  margin-top: 10px;
  color: black;
  background-color: #02b3e4;
  border-radius: 1rem;
  padding: 10px 10px;
 
}

.Loginimage img{
  margin: auto;
  width: 100%;
  
}

.LoaderButton,.buttonload,.btn,.btn-lg,.btn-default,.btn-block{
  width: 40%;
  color: white;
  background-color: #02b3e4;
}



.LoginBackground{

  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
}

.LoginContent{
  align-self: center;
  margin: auto;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 5rem;
  z-index: 1;
  
}

.new-log {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.new-log label {
  text-align: center;
}

.new-log a {
  font-weight: bold;
  text-decoration: underline;
}

.sub-body-login{
  
  min-height: -webkit-fill-available
  
}



@media screen and (min-width:530px) {
  .Login {
    width: 100%;
    margin: auto;
  }

  .LoginContent{
    position: absolute;
    align-self: center;
    margin: auto;
    background-color: white;
    border-radius: 1rem;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 10%;
  }



}
