.MyEvents div .nav-tabs li a {
  color: black;
  border: 1px solid #02b3e4;
}

.MyEvents div .nav-tabs .active a {
  background-color: #02b3e4;
  color: white;
  border: 1px solid #02b3e4;
}

.MyEvents .nav {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (min-width: 770px) {

}
