.PersonalityTest {
  max-width: 700px;
  padding: 15px;
  border-radius: 3%;
  background-color: white;
}

.btn-primary {
  margin: auto;
  margin-top: 25px;
}

.ReactTags__suggestions li {
  list-style-type: none;
  max-width:500px;
  margin: auto;
}

@media screen and (min-width:530px) {
  .PersonalityTest {
    margin-left: auto;
    margin-right: auto;
  }

  .PersonalityTest form {
    max-width: 500px;
    margin: auto;
  }
}
