.Preferences{
  max-width: 40%;
  padding: 15px;
  border-radius: 3%;
  background-color: white;
  margin-top: 3%;
}

.sub-body-pref{
  min-height: -webkit-fill-available;
}

@media screen and (min-width:530px) {
  .Preferences {
    margin-left: auto;
    margin-right: auto;
  }
}
