.MyProfile{
  max-width: 700px;
  padding: 15px;
  border-radius: 3%;
  background-color: white;
}

h6 {
  font-weight: bold;
  font-size: 10pt;
}

.profile-image
{
  text-align: center;
}

.profile-description button {
  float: right;
}

.MyProfile p {
  text-align: left;
  margin: 10px 0px;
}

.MyProfile li {
  text-align: center;
  list-style-type: none;
  text-transform: capitalize;
}

.profile-top{
  margin-bottom: 40px;
}

.user {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.tags {
  margin: 10px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:10px;
}

@media screen and (min-width:530px) {
  .MyProfile {
    margin-left: auto;
    margin-right: auto;
  }

  .profile-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:5px;
    margin-bottom: 10px;
  }

  .tags {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

}
