.SignUp, .Confirmation {
  max-width: 700px;
  padding: 15px;
  border-radius: 3%;
  background-color: white;
}

button img {
  min-width: 1px;
  max-width: 30px;
  height: auto;
  margin-right: 10px;
}

@media screen and (min-width:530px) {
  .SignUp, .Confirmation {
    margin-left: auto;
    margin-right: auto;
  }

  .SignUp form, .Confirmation form {
    max-width: 500px;
    margin: auto;
  }
}
