.SignUp, .Confirmation {
 
  border-radius: 3%;
  background-color: white;
}

button img {
  min-width: 1px;
  max-width: 30px;
  height: auto;
  margin-right: 10px;
}

.SignUpPage{
  
  min-height: -webkit-fill-available;
  
  margin-bottom: 5%;
}

@media screen and (min-width:730px) {
  .SignUp, .Confirmation {
    margin-left: auto;
    margin-right: auto;
    
  }

  .LoginContent{

    margin-top: 5%;
  }


}
