.SignUp, .Confirmation {
 
  border-radius: 3%;
  background-color: white;
}

button img {
  min-width: 1px;
  max-width: 30px;
  height: auto;
  margin-right: 10px;
}

.sub-body-signup{
  margin-bottom: 18%;
}

@media screen and (min-width:530px) {
  .SignUp, .Confirmation {
    margin-left: auto;
    margin-right: auto;
  }

}
