.LoaderButton .spinning.glyphicon {
    width: 10%;
    animation: spin 1s infinite linear;
    color: white;
    background-color: #02b3e4;
    margin: auto;
  }
  @keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
  }